<template>
  <div class="white padding">
    <h1>Ajout</h1>
    <form @submit.prevent="add_new">
      <formulaire></formulaire>
      <nuxt-link :to="'/monnomdemodule/search'" class="btn btn-primary">Retour</nuxt-link>
      <button type="submit" class="btn btn-success">Enregistrer</button>
    </form>
  </div>
</template>
<script>
import Class from "@/api/monnomdemodule/monnomdemodule.js";
export default {
  data() {
    return {
      data: [],
      else: []
    };
  },
  mounted() {
    this.standart();
  },
  methods: {
    add_new: async function() {
      const clas = new Class(this.$store);
      try {
        var data = await clas.add(this.data);
        this.$router.push("/monnomdemodule/search");
      } catch (error) {
        this.error_message = error.message;
      }
    },
    standart: function() {}
  }
};
</script>
<style>
.white {
  background-color: white;
}

.padding {
  padding: 5px 5px 5px 5px;
}
</style>
