<template>
  <div class="white padding">
    <button
      type="button"
      class="btn btn-primary "
      data-toggle="modal"
      data-target="#modelId"
    >
      Filtre
    </button>
    <nuxt-link :to="'/monnomdemodule/add/'" class="btn btn-success"
      >Ajout</nuxt-link
    >
    <table class="table" border="1">
      <thead>
        <tr>
          <headtable></headtable>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in data" :key="item.id">
          <headbody></headbody>
          <th>
            <nuxt-link :to="'/monnomdemodule/view/' + item.id">Voir</nuxt-link>
            <nuxt-link :to="'/monnomdemodule/mod/' + item.id">Mod</nuxt-link>
            <a @click="getsup(item.id)" href="#">Supp</a>
          </th>
        </tr>
      </tbody>
    </table>

    <div
      class="modal fade"
      id="modelId"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modelTitleId"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <form @submit.prevent="getsearch">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Filtre</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <modalfiltre></modalfiltre>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Fermer
              </button>
              <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import Class from "@/api/monnomdemodule.js";
export default {
  data() {
    return {
      search: [],
      data: []
    };
  },
  mounted() {
    this.getlist();
  },
  methods: {
    getlist: async function() {
      const clas = new Class(this.$store);
      try {
        var data = await clas.get_list();
        this.data = data;
      } catch (error) {
        this.error_message = error.message;
      }
    },
    getsearch: async function() {
      const clas = new Class(this.$store);
      try {
        var data = await clas.search(this.search);
        this.data = data;
      } catch (error) {
        this.error_message = error.message;
      }
    },
    getsup: async function(data) {
      const clas = new Class(this.$store);
      try {
        var data = await clas.sup(data);
        this.getlist();
      } catch (error) {
        this.error_message = error.message;
      }
    }
  }
};
</script>
<style>
.white {
  background-color: white;
}

.padding {
  padding: 5px 5px 5px 5px;
}
</style>
