<template>
  <div class="white padding">
    <form @submit.prevent="get_mod">
      <formulaire></formulaire>
      <nuxt-link :to="'/monnomdemodule/search'" class="btn btn-primary"
        >Retour</nuxt-link
      >
      <button type="submit" class="btn btn-success">Enregistrer</button>
    </form>
  </div>
</template>
<script>
import Class from "@/api/monnomdemodule.js";
export default {
  asyncData({ params, error }) {
    let data = {
      id_user: params.id,
      data: []
    };
    return data;
  },
  mounted() {
    this._construct();
  },
  methods: {
    _construct: function() {
      this.data_client();
    },
    data_client: async function() {
      const clas = new Class(this.$store);
      try {
        var data = await clas.get_info(this.id_user);
        this.data = data;
      } catch (error) {
        console.log(error);
      }
    },
    get_mod: async function() {
      const clas = new Class(this.$store);
      try {
        var data = await clas.mod(this.data);
        this.$router.push("/monnomdemodule/search");
      } catch (error) {
        console.log(error);
      }
    }
  }
};
</script>
<style>
.white {
  background-color: white;
}

.padding {
  padding: 5px 5px 5px 5px;
}
</style>
