<template>
  <div class="gris">
    <nav class="d-none d-sm-block navbar navbar-dark fixed-top bg-rose flex-md-nowrap p-0 shadow">
      <nuxt-link to="/" class="navbar-brand col-sm-3 col-md-2 mr-0">NUXTDAKO</nuxt-link>
      <ul class="navbar-nav px-3"></ul>
    </nav>
    <nav class="d-block d-sm-none navbar navbar-dark fixed-top bg-rose flex-md-nowrap p-0 shadow">
      <a class="navbar-brand" href="#">NUXTDAKO</a>
      <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation"
      ></button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="nav flex-column mb-2 text-white">


          <li class="nav-item text-nowrap">
            <a
              class="nav-link btn btn-danger"
              style="color:white"
              @click="logout"
              href="#"
            >Déconnexion</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-white sidebar">
          <div class="sidebar-sticky">
            <h6
              class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
            >
              <span>Administration</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <nuxt-link to="/" class="nav-link">Test</nuxt-link>
              </li>


              <li class="nav-item text-nowrap">
                <a
                  class="nav-link btn btn-danger"
                  style="color:white"
                  @click="logout"
                  href="#"
                >Déconnexion</a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="padding-top:60px">
          <nuxt />
        </main>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: "iscon",
  head() {
    return {
      link: [
        {
          rel: "stylesheet",
          type: "text/css",
          href: "/css/dashboard.css"
        }
      ]
    };
  },
  methods: {
    logout: async function() {
      await this.$store.dispatch("logout");
    }
  }
};
</script>
