<template>
  <nuxt />
</template>
<script>
export default {
  middleware: "notcon",
  data() {
    return {
      error: ""
    };
  }
};
</script>
<style>
body {
  background: url("/template/img/bg-account.jpg");
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(31, 35, 60, 0.8);
  box-shadow: inset 0 0 0 2000px rgba(31, 35, 60, 0.8);
}
</style>

