<template>
  <div>
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    >
      <h1 class="h2">
        Statistiques
        <a @click="show_stat()" class="badge badge-success">+</a>
      </h1>
    </div>
    <div class="row">
      <div
        class="col-md-3 white padding"
        style="margin-top:5px"
        v-for="item in mystat"
        :key="item.id"
      >
        <h2 align="center">{{ item.number }}</h2>
        <p align="center">{{ item.name }}</p>
      </div>
    </div>
    <br />
  </div>
</template>

<script>
import Class from "@/api/app.js";
export default {
  data() {
    return {
      mystat: []
    };
  },
  watch: {},
  mounted() {
    this.show_stat();
  },
  methods: {
    show_stat: async function() {
      const clas = new Class(this.$store);
      try {
        var data = await clas.stat();
        this.mystat = data;
        // console.log(this.mystat);
      } catch (error) {
        this.error_message = error.message;
      }
    }
  }
};
</script>

<style>
.white {
  background-color: white;
}

.padding {
  padding: 5px 5px 5px 5px;
  margin-right: 5px;
}
</style>
