<template>
  <div>
    <form @submit.prevent="verif_compte">
      <input type="hidden" name="method" value="verif_user" />
      <input type="hidden" name="class" value="user\index" />
      <div v-show="error_message != ''" class="alert alert-danger">
        <div class="container">{{ error_message }}</div>
      </div>
      <main class="main h-100 w-100">
        <div class="container h-100">
          <div class="row h-100">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
              <div class="d-table-cell align-middle">
                <div class="text-center mt-4"></div>

                <div class="card wrapper-page">
                  <br />
                  <br />
                  <h1 class="h2" align="center">NUXT-DAKO</h1>
                  <div class="card-body">
                    <div class="m-sm-4">
                      <div class="text-center"></div>
                      <div class="form-group">
                        <input
                          class="form-control form-control-lg"
                          type="email"
                          v-model="user.email"
                          placeholder="Entrer votre email"
                          required
                          autofocus
                        />
                      </div>
                      <div class="form-group">
                        <input
                          class="form-control form-control-lg"
                          type="password"
                          v-model="user.mdp"
                          placeholder="Votre mot de passe"
                          required
                        />
                      </div>

                      <div class="text-center mt-3">
                        <button type="submit" class="btn btn-lg btn-success btn-block">Se connecter</button>
                      </div>
                      <a data-toggle="modal" data-target="#modelId" href="#">Mot de passe oublié ?</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </form>

    <div
      class="modal fade"
      id="modelId"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modelTitleId"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <form @submit.prevent="oublie_compte">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Mot de passe oublié ?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="alert alert-success">
                <div
                  class="container"
                >Veuillez contacter l'administrateur de la plateforme sur ce numéro (+ 242) 06 843 28 99.</div>
              </div>
              <div v-show="error_forgot.message != ''" :class="'alert alert-' + error_forgot.class">
                <div class="container">{{ error_forgot.message }}</div>
              </div>
              <div class="form-group d-none">
                <label>Email</label>
                <input
                  class="form-control form-control-lg"
                  type="email"
                  v-model="user.email"
                  placeholder="Entrer votre email"
                  required
                  autofocus
                />
              </div>
            </div>
            <div class="modal-footer d-none">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
              <button class="btn btn-primary" type="submit">Demander</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Class from "@/api/app.js";
export default {
  layout: "public",
  data() {
    return {
      user: [],
      error_message: [],
      error_forgot: []
    };
  },
  head() {
    return {
      title: "Connectez-toi",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Page de connexion"
        }
      ],
      link: []
    };
  },
  methods: {
    verif_compte: async function() {
      const clas = new Class(this.$store);
      try {
        var data = await clas.login(this.user);
        this.$store.commit("SET_USER", data);
        this.$router.push("/");
      } catch (error) {
        this.error_message = error.message;
      }
    },
    oublie_compte: async function() {
      const clas = new Class(this.$store);
      try {
        var data = await clas.forgot(this.user);
        this.error_forgot = {
          message:
            "Vous allez recevoir un email d'initialisation de mot de passe.",
          class: "success"
        };
      } catch (error) {
        this.error_forgot = {
          message: "Nous connaissant pas votre email",
          class: "danger"
        };
      }
    }
  }
};
</script>
